<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css">
    <div class="container body-content">
        <a href="~/Home/Index" class="navbar-brand">Main</a>
     </div>


            <div class="container-fluid h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-12">
                        <div class="row justify-content-center">
                            <div class="col-4 text-center">
                                <h1> All cars: </h1>
                                <h3>@Model.currCategory</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</head>

<body>    
    <div class="container body-content">
        @RenderBody()
        <script src=" ~/js/bootstrap.js" rel="stylesheet" type="text/css">
        </script>
        <footer>
            <div class="container-fluid h-100">
                <div class="row align-items-center h-100">
                    <div class="col-sm-12">
                        <div class="row justify-content-center">
                            <div class="col-4 text-center">
                                <p>© 2020 - CarStore</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>
